<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("temp/head", { title: "Frionx Forum" }); %>
</head>
<body>
  <%- include("temp/nav", { active: "home" }); %>

  <div class="forum-background">
    <h1 class="display-heading">Welcome to Frionx Forums</h1>
  </div>
  <div class="forum-content-box forums">
    <div class="forums-top">
      <label class="font-large">Forums</label><button onclick="window.location.href = './create-thread';" class="btn create-forum right plus-btn"><i class="fas fa-plus"></i> Create Thread</button>
    </div>
    <div class="forum-container">
      <div class="forum-block-container">
        <div class="forum-block"><i class="fas fa-caret-down"></i> Programming Subforums (Subforums not ready yet)</div>
        <div class="forum-block-bottom">
          <div class="forum-block-row"><i class="fab fa-js-square" style="color: yellow;"></i> JavaScript Subforum</div>
          <div class="forum-block-row"><i class="fab fa-css3-alt" style="color: lightblue;"></i> CSS Subforum</div>
          <div class="forum-block-row"><i class="fab fa-java" style="color: red"></i> Java Subforum</div>
        </div>
      </div>
      <div class="forum-block-container">
        <div class="forum-block"><i class="fas fa-caret-down"></i> Gaming Subforums</div>
        <div class="forum-block-bottom">
          <div class="forum-block-row"><i class="fas fa-headset"></i> gamin</div>
        </div>
      </div>
      <div class="forum-block-container">
        <div class="forum-block"><i class="fas fa-caret-down"></i> Height Auto Test Subforums</div>
        <div class="forum-block-bottom">css skills are kinda wack</div>
      </div>
      <div class="forum-block-container">
        <div class="forum-block"><i class="fas fa-caret-down"></i> Another Useless Subforums</div>
        <div class="forum-block-bottom">still testing the wack css skills</div>
      </div>
    </div>
  </div>
</body>
</html>