<nav class="main-nav">
  <span class="forum-title">Frionx Forum</span>
  <a class="navlink<%= active == "home" ? " active" : "" %>">Home</a>
  <a href="./create-thread" class="navlink<%= active == "thread" ? " active" : "" %>"><i class="fas fa-plus"></i> Thread</a>
  <a id="btn-login" class="navlink right blue frm-btn">Log in</a>
  <a id="btn-signup" class="navlink right black frm-btn">Signup</a>
  <a id="btn-logout" class="navlink right black frm-btn hidden">Logout</a>
</nav>

<!-- Authentication Forms -->

<div id="form-login" class="form-login login">
  <label class="form-label">Username</label>
  <input id="txt-login-username" type="username" class="form-input">
  <label class="form-label">Password</label>
  <input id = "txt-login-password" type="password" class="form-input">
  <button id="btn-form-login" class="form-button">Login</button>
  <p class="status" id="login-status"></p>
</div>

<div id="form-signup" class="form-login signup">
  <label class="form-label">Username</label>
  <input id="txt-form-username" type="username" class="form-input">
  <label class="form-label">Password</label>
  <input id="txt-form-password" type="password" class="form-input">
  <label class="form-label">Confirm Password</label>
  <input id="txt-form-confirm-password" type="password" class="form-input">
  <button id="btn-form-signup" class="form-button">Signup</button>
  <p class="status" id="register-status"></p>
</div>